* {
	margin: 0;
	padding: 0;
}
#container {
	width: 1200px;
	margin: 0 auto;
	border: 1px solid black;
	font-family: arial, verdana, sans-serif;
}
	#header {
		background: brown;
		width: 1180px;
		padding: 20px 10px;
		color: white;
	}
	#nav {
		background: orange;
		width: 1200px;
	}
		#nav ul {
			list-style: none;
		}
			#nav ul li {
				float: left;
				width: 240px;
				padding: 15px 0;
				text-align: center;
			}
			#nav ul li:hover {
				background: #ffd280;
				color: brown; 
			}
			#nav a {
				color: black;
			}
	#middle {
		background: gray;
		width: 1200px;
	}
		#left {
			background: lightgreen;
			width: 800px;
			height: 300px;
			float: left;
		}
		#right {
			background: lightblue;
			width: 400px;
			height: 300px;
			float: left;
}
	#footer {
		background: brown;
		width: 1200px;
		height: 50px;
	}	