* {
	margin: 0;
	padding: 0;
}
#container {
	width: 1200px;
	margin: 0 auto;
	border: 1px solid black;
	font-family: arial, verdana, sans-serif;
}
	#header {
		background: brown;
		width: 1180px;
		padding: 20px 10px;
		color: white;
	}
	#nav {
		background: orange;
		width: 1200px;
	}
		#nav ul {
			list-style: none;
		}
			#nav ul li {
				float: left;
				width: 240px;
				padding: 15px 0;
				text-align: center;
			}
			#nav ul li:hover {
				background: #ffd280;
				color: brown; 
			}
			#nav a {
				color: black;
			}
	#middle {}
		#left {
			width: 800px;
/*			height: 600px;*/
			float: left;
		}
		.post {
			margin: 20px;
		}
			.title {
				background: brown;
				padding: 15px 10px;
				color: white;
				font-weight: bold;
				font-size: 25px;
			}
			.description {
				background: #f1f1f1;
				padding: 20px 10px;
			}
		#right {
			width: 360px;
			height: 600px;
			float: left;
			padding: 20px;
		}
			#right h2 {
				text-align: center;
			}
			#latest_post_group {
				margin: 10px 0; 
			}
				#right .latest_post {
					background: brown;
					padding: 10px 0;
					text-align: center;
					color: white;
					margin: 10px 0;
				}
			#news_letter {}
				#news_letter .news_letter_head {
					text-align: center;
					font-size: 25px;
				}
			#news_letter input[type="text"] {
				width: 360px;	
				height: 30px;
			}
	#footer {
		background: brown;
		width: 1200px;
		height: 50px;
	}	